
@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;


header, ul {
    @include grid-row();
}

body {
    background-color: deepskyblue;
}

h1 {
    text-align: center;
    font-size: 5em;  
    @include grid-column(12);
}

main ul{
    @include grid-row();

    li{
    display: inline-block;
    border: solid black 1pt;
    @include grid-column(4);
        button{
            width: 40%;
            padding: 5%;
            margin: 2%;
            background-color: orange;
            color: white;
        }
    }
} 

